@font-face {
    font-family: nordic-font;
    src: url(Norse-Bold.otf);
  }

  
  h1 {
    font-family: my-cool-font, sans-serif;
  }
  

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }





.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.odin {
    height: 20vh
}

.odin_logo {
    font-family: nordic-font, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 340px;
    width: 33.33333vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 100px
}

.image_side {
    height: 100vh;
    width: 33.3333333vw;
    display: flex;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 33.333vw 100vh;
    justify-content: center;
}

.credits {
    color: white;
    position: fixed;
    align-self: flex-end;
}

.form_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

form {
    margin-top: 30px;
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

fieldset {
    border: none;
}

legend, .form_side .text, button, div.form_side > div{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}
.form_row {
    display: flex;
    gap: 100px; /* add dynamic gap using clamp and vh*/
}

.form_element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    color: white;
    width: fit-content;
    background-color: rgb(89, 109, 72);
    margin-top: 20px;
    padding: 5px 40px;
    border-radius: 10px;
    border: none; 
    box-shadow: none;
}

.form_side .text {
    padding-right: 230px;
    margin-top: 15px;
}

.login {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: none;
    font-weight: none;
    margin-top: 20px;
}

.login span {
    color: rgb(89, 109, 72);
    font-weight: bold;
}